/** HEADER **/
header, footer {
    position: fixed;
    width:100%;
    background: #eeeeee;
    z-index:99999;
}
a, a:hover, a:active, a:focus {
    text-decoration: none;
}
header {
    top:0;
    height:50px;
    line-height:50px;
    border-bottom:1px solid #cccccc;
}
header .header-icon {
    width:25%;
}
header .header-icon li {
    display: inline-block;
    font-size:20px;
}
header .header-icon li a {
    color:gray;
    padding:0 5px;
}
header .logo {
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    width:50%;
    float:left;
}
header ul {
    margin:0;
    padding:0;
}
header ul li {
    list-style:none;
}
.sub-header {
    margin-top:50px;
    text-align: center;
}


/** CONTENT **/
section#content {
    margin-bottom:50px;
    overflow-y:scroll;
}

/** FOOTER **/
footer {
    bottom:0;
    border-top:1px solid #cccccc;
}
footer ul {
    margin:0;
    padding:0;
    height: 50px;
}
footer ul li {
    float:left;
    width:25%;
    list-style: none;
    line-height: 50px;
    color:gray;
    text-align: center;
}
footer ul li a {
    display: block;
}
footer ul li a.active {
    border-left:1px solid #cccccc;
    border-right: 1px solid #cccccc;
}
footer ul li a.active i.fa {
    color:#770109;
}
footer ul li a i.fa {
    color:gray;
    font-size:20px;
}
.loading {
    text-align: center;
    font-size: 25px;
    display: none;
}
.sub-header {
    background: #02808C;
    color: #FFFFFF;
    font-weight: bold;
    height:30px;
}
.sub-header ul {
    margin:8px 0 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding:0;
}
.sub-header ul li {
    list-style:none;
    display: inline;
    margin:0 5px;
}
.sub-header ul li span {
    line-height:22px;
    width:22px;
    text-align: center;
    background:#FFFFFF;
    display: inline-block;
    color:#111111;
    position: relative;
}
.sub-header ul li span:after {
    border-bottom: 1px solid #000000;
    content: " ";
    bottom: 11px;
    display: block;
    width: 100%;
    position: absolute;
}
/*** LIST VIEW ***/
